#title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 450px;

  list-style: none;
  background-color: aquamarine;

  min-height: 50px;
  line-height: 50px;

  font-size: 1.5rem;
  margin-bottom: 1rem;
}

li span {
  margin-left: 10px;
}

span.done {
  text-decoration: line-through;
}

li i {
  margin-right: 10px;
  font-size: 2rem;
  color: red;

  cursor: pointer;
}
